<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class="taskkontroller_wrapper">
            <div class="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia dolore provident iure suscipit voluptatem. Sit nam ducimus consequuntur quisquam ullam dolorum ipsa quo odit eius alias necessitatibus reprehenderit itaque et perferendis quia nulla veniam dolores voluptates consequatur animi autem, soluta velit iusto iure. Animi eius ullam qui dolor voluptate ea!
            </div>
            <div class="">
                <div class="od_list-row__cell od_js-hs-prevent list-row__cell-head od_cell-head od_list-row__cell-template-id list-row__cell-id" style="padding-top: 50px;">
                    <div class="od_cell-head__inner">
                        <label class="od_control-checkbox">
                            <div class="od_control-checkbox__body">
                                <input id = 'taskkontroller_privacyPolicy' type="checkbox" class="od_headList od_checkbox" name="" value="" data-value="">
                                <span class="od_headList__span od_control-checkbox__helper"></span>
                                <a target="_blank" href="https://hub.integrat.pro/Murad/Taskkontroller/taskkontroller/public/privacyPolicy" style="padding-left: 10px;">
                                    Политика конфиденциальности
                                </a>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>