<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class="taskkontroller_wrapper">
            <div class="taskkontroller_content" style = "padding-bottom: 10px">
                <h3 class = "taskkontroller_content_titel" style = "font-weight: bold; padding-bottom: 20px;">Распределение ЛИДов</h3>
                <div class="taskkontroller_content_text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi dolorem vero dignissimos voluptatem quo autem voluptas est quibusdam, accusamus ratione temporibus reprehenderit porro vel animi in corrupti impedit mollitia minus beatae praesentium? Provident non corporis velit exercitationem expedita illum quia reiciendis. Veniam quisquam consequuntur suscipit numquam ducimus fugiat dicta officia.
                </div>
            </div>
            <div class="taskkontroller_media">
                <a class="taskkontroller_media_content_link" target="_blank" href="https://www.youtube.com/" style = "text-decoration: none; color: #ff7779;">
                    Видеодемонстрация функционала виджета
                </a>
            </div>
        </div>
    </body>
</html>